<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>CheckIn</title>
  </head>
  <body>
    <div class="container">
      <form
        class="form form-group"
        id="myform"
        enctype="application/json"
        action="http://localhost:3001/users"
        method="POST"
      >
        <label>
          Name
        </label>
        <input
          type="text"
          name="name"
          placeholder="Enter your Name"
          class="form-control"
          id="name"
          required
        />

        <label>
          Email
        </label>
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          class="form-control"
          id="email"
          required
        />

        <label>
          Phone Number
        </label>
        <input
          type="number"
          name="phone"
          placeholder="Enter your Phone Number"
          class="form-control"
          id="phone"
          required
        />

        <label>
          Address
        </label>
        <input
          type="text"
          name="address"
          placeholder="Enter your address"
          class="form-control"
          id="address"
          required
        />
        <button
          type="submit"
          class="btn btn-primary form-control"
          id="submit-btn"
        >
          CheckIn
        </button>
      </form>
    </div>
    <script>
      $("#myform").submit(function(e) {
        e.preventDefault();
        var data = new FormData(document.getElementById("myform"));

        let jsonObject = {};

        for (const [key, value] of data.entries()) {
          jsonObject[key] = value;
        }
        jsonObject2 = JSON.stringify(jsonObject);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:3001/users");
        xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
        xhr.send(jsonObject2);
        console.log(jsonObject2);
        window.location.href = "/checkedin";
      });
    </script>
  </body>
</html>
